<template>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i> PROCESAR DOCUMENTO MARCO</h6>
                </div>
                <div class="card-body">
                    <form autocomplete="off" @submit.prevent="validateImport">
                        <div class="text-center mb-4">
                            <h5>Marco de Encuesta</h5>
                            <p class="card-title-desc">Identifique el archivo a cargar, selecciónelo y luego continue con procesar archivo.</p>
                        </div>
                        <div class="row justify-content-center">     
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <input type="file" accept="xls/*,.xlsx" class="form-file-input form-control" id="filemarco" name="filemarco" @change="buscarArchivo">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <button type="submit" ref="procesar" class="btn btn-primary w-md form-control">
                                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>PROCESAR ARCHIVO (EXCEL)
                                    </button>
                                </div>
                            </div>
                        </div>                                               
                    </form>    
                    
                    <div class="row justify-content-center">
                        <div class="col-sm-3" v-if="isSuccess">
                            <div class="alert alert-success alert-dismissible fade show px-4 mb-0 text-center" role="alert">
                                <i class="mdi mdi-check-all d-block display-4 mt-2 mb-3 text-success"></i>
                                <h5 class="text-success">Procesado!</h5>
                                <p>Se proceso el marco con {{ countRegistroProcesado}} registros.</p>
                                <p>Registros insertados en BD {{ countRegistroInsertado }}.</p>
                                <p>Registros actualizados ya existentes {{ countRegistroExistente }}.</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="isProcesando">
                            <div class="alert alert-info alert-dismissible fade show px-4 mb-0 text-center" role="alert">
                                <i class="mdi mdi-alert-circle-outline d-block display-4 mt-2 mb-3 text-info"></i>
                                <h5 class="text-info">Procesando..</h5>
                                <p>Cargando archivo, por favor espere..</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="isWarning">
                            <div class="alert alert-warning alert-dismissible fade show px-4 mb-0 text-center" role="alert">
                                <i class="mdi mdi-alert-outline d-block display-4 mt-2 mb-3 text-warning"></i>
                                <h5 class="text-warning">Advertencia!</h5>
                                <p>El archivo no pudo ser procesado, verifique el documento o contáctese con el administrador.</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="isError">
                            <div class="alert alert-danger alert-dismissible fade show px-4 mb-0 text-center" role="alert">
                                <i class="mdi mdi-block-helper d-block display-4 mt-2 mb-3 text-danger"></i>
                                <h5 class="text-danger">Error!</h5>
                                <p>Verifique que el nombre de la Hoja del archivo Excel sea el correcto.</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="loading" class="overlay">
        <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'

    export default {
        data: function(){
            return{
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                baseURL: APP_URL,
                baseIMG: APP_IMG,
                countRegistroProcesado:0,
                countRegistroInsertado:0,
                countRegistroExistente:0,
                filemarco :'',
                ListMarco:[],
                loading: false,
                isSuccess: false,
                isProcesando:false,
                isWarning:false,
                isError:false
            }
        },    
        methods:{
            async validateImport(){ 
                const config = { headers: { 'content-type': 'multipart/form-data' } }
                let formData = new FormData();
                if(this.ListMarco.length == 0){
                    Swal.fire({
                        title: 'ARCHIVO NO SELECCIONADO',
                        text: "¡BUSQUE UN DOCUMENTO PARA PROCESAR!",
                        icon: 'info',
                        showCancelButton: false,
                        confirmButtonText: 'ACEPTAR!' 
                    });
                    return;
                }
                
                this.loading = true; 
                this.ocultarAlerts(); 
                this.isProcesando = true;
                formData.append('filemarco',  this.ListMarco);                
                await axios.post('/procesar', formData, config)
                .then((response)=>{ 
                    this.countRegistroProcesado = response.data.totalRows; 
                    this.countRegistroInsertado = response.data.insertedRows; 
                    this.countRegistroExistente = response.data.existentRows; 
                    this.loading = false;
                    
                    if(response.data.totalRows == 0){
                        this.isError = true;
                    }else{
                        this.isSuccess = true;
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.isWarning = true;
                    console.error('Error al cargar los datos:', error);
                });
                this.isProcesando = false;
            },

            buscarArchivo(e){ 

                let iFiles = e.target.files;
                if(!iFiles.length){return false}
                this.ListMarco = e.target.files[0];   
                this.ocultarAlerts();            
            },

            ocultarAlerts(){
                this.isProcesando   = false;  
                this.isSuccess      = false;
                this.isWarning      = false;
                this.isError        = false;
            }
        }
    }
 
</script> 