<template>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i> REPORTE DE MARCO ENCUESTA CARGADOS AL SISTEMA</h6>
                </div>
                <div class="card-body">
                    <form @submit.prevent="validateAsignacion" autocomplete="off">
                        <div class="text-center mb-4">
                            <h5>Sede Operativa</h5>
                            <p class="card-title-desc">Listado de información procesados por la carga de Marco.</p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <!-- <label class="form-label">SEDE OPERATIVA</label> -->
                                    <select class="form-select" ref="codsede" v-model.trim="state.codsede">
                                        <option value="" selected>--SELECCIONE--</option>
                                        <option v-for="data in ListaCodSedes" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                    </select> 
                                    <code class="error-feedback" v-if="v$.codsede.$error"> {{ v$.codsede.$errors[0].$message }} </code>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <button type="submit" ref="buscar" class="btn btn-primary w-md form-control">
                                        <i class="bx bx-search font-size-16 align-middle me-2"></i>BUSCAR</button>
                                </div>
                            </div>
                        </div>                         
                    </form>                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">                    
                    <div class="col-xl-12 col-lg-12 col-sm-12"> 
                        <div class="table-responsive" >                     
                            <table id="tblSegmento" class="table table-striped table-bordered table-hover text-center">
                                <thead>
                                    <tr class="table-info"> 
                                        <th>NRO.</th>
                                        <th>COD.<br> SEDE</th>
                                        <th>SEDE<br> OPERATIVA</th>
                                        <th>UBIGEO</th>
                                        <th>DEPARTAMENTO</th>
                                        <th>PROVINCIA</th>
                                        <th>DISTRITO</th>
                                        <th>AREA</th>
                                        <th>CONGLOMERADO</th>
                                        <th>ZONA</th>
                                        <th>PERIODO</th>
                                        <th>TOTAL MZA</th>
                                        <th>VIVI. PART</th>
                                        <th>TIPO ENAMEL</th>
                                        <th>ESTRATO</th>
                                        
                                    </tr>                                    
                                </thead> 
                                <tbody>
                                    <tr v-for="item in LstAsigRuta" :key="item.id">
                                        <td>{{item.nro}}</td>
                                        <td>{{item.codsede}}</td>
                                        <td>{{item.sede}}</td>
                                        <td>{{item.ubigeo}}</td>
                                        <td>{{item.departamento}}</td>
                                        <td>{{item.provincia}}</td>
                                        <td>{{item.distrito}}</td>
                                        <td>{{item.area}}</td>
                                        <td>{{item.conglomerado}}</td>
                                        <td>{{item.zona}}</td>
                                        <td>{{item.periodo}}</td>
                                        <td>{{item.totalmz_ccpp}}</td>
                                        <td>{{item.vivpart2017}}</td>
                                        <td>{{item.tipoenamel}}</td>
                                        <td>{{item.estrato}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div> 

    <div v-if="loading" class="overlay">
        <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</template>


<script>
    import vSelect from "vue-select";
    import { reactive, computed } from 'vue'
    import { useVuelidate } from '@vuelidate/core'
    import { required, helpers } from '@vuelidate/validators';
   
    export default { 
        components: {vSelect},
        setup () {
            const state = reactive({
                codsede:'',
            })
            const rules = computed(() => {
                return {
                    codsede: { required: helpers.withMessage('Cód.Sede es requerido.', required) },                    
                }}
            )
            const v$ = useVuelidate(rules, state)
            return { state, v$ }
        },
        data: function(){
            return{
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                baseURL:APP_URL,
                baseIMG:APP_IMG,
                codsede:'',
                ListaCodSedes:[],
                LstAsigRuta:[],              
                loading: false,
            }
        },
        mounted(){
            this.dataTable();
            this.cargarFiltros();
        },         
        methods:{
            cargarFiltros(){ 
                this.loading = true;
                axios.post('/getSedeOpe', { tipo: 'CODSEDE' }).then((response)=>{
                    this.ListaCodSedes = response.data; 
                    this.loading = false;
                }) 
            },
            dataTable(){
                if ($.fn.DataTable.isDataTable('#tblSegmento')) {
                    $('#tblSegmento').DataTable().destroy();
                }
                this.$nextTick(() =>{
                    $('#tblSegmento').DataTable({
                        "lengthMenu": [[10, 25, 50, -1], [ 10, 25, 50, "Todos"]],
                        "ordering": false,
                        language: {
                            url: this.baseURL+'assets/SpanishDataTable.json',
                        },
                    });
                });
            }, 
            DestroyTable: function() {
                $('#tblSegmento').DataTable().destroy();
            },
            async validateAsignacion () {
                const result = await this.v$.$validate();
                if (this.v$.$error)  return;  
                this.loading = true;              
                await axios.post('/getMarcoEncuesta',{
                    tipo: 'REPORTE_MARCOENCUESTA', 
                    codsede: this.state.codsede,
                }).then((response) =>{
                    this.LstAsigRuta = response.data;
                    this.dataTable();
                    this.loading = false;
                }).catch((error) => {
                    console.error('Error al cargar los datos:', error);
                });              
            }       
         
           
            
        }       
    }

</script>
