<template>
    <div class="authentication-bg min-vh-100">
        <div class="bg-overlay bg-light"></div>
        <div class="container">
            <div class="d-flex flex-column min-vh-100 px-3 pt-4">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-lg-6 col-xl-5">

                        <div class="text-center mb-4 pb-2">
                            <a href="https://www.gob.pe/inei/" target="blank" class="d-block auth-logo">
                                <img :src="baseIMG+ 'logo-inei.png'" alt="" class="Logo INEI">
                                <!-- <img :src="baseIMG+ 'logo-inei.png'" alt="" class="Logo INEI"> -->
                            </a>
                        </div>
                        <div class="text-center mt-2 p-4">
                            <h5 class="text-muted">SISTEMA DE ASIGNACIÓN DE RUTAS Y ACTUALIZACIÓN DE SEGMENTACIÓN</h5>
                        </div>

                        <div class="card">
                            <div class="card-body p-4"> 
                                <div class="text-center mt-2">
                                    <h5>Acceso Principal</h5>
                                    <p class="text-muted">Ingrese sus respectivas credenciales.</p>
                                </div>
                                <div class="p-2 mt-4">
                                    <form @submit.prevent="validateLogin" autocomplete="off">
                                        <input type="hidden" name="_token" :value="csrf">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">Usuario</label>
                                            <div class="position-relative input-custom-icon">
                                                <input type="text" class="form-control" v-model="state.email" @keypress.enter.prevent placeholder="Ingrese su usuario">
                                                <span class="bx bx-user"></span>                                                                                                                                              
                                            </div>
                                            <code class="error-feedback" v-if="v$.email.$error">
                                                {{ v$.email.$errors[0].$message }}
                                            </code> 
                                        </div>
                
                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Contraseña</label>
                                            <div class="position-relative auth-pass-inputgroup input-custom-icon">
                                                <span class="bx bx-lock-alt"></span>
                                                <input type="password" class="form-control" v-model="state.password" @keypress.enter.prevent placeholder="Ingrese su contraseña">
                                            </div>
                                            <code class="error-feedback" v-if="v$.password.$error">
                                                {{ v$.password.$errors[0].$message }}
                                            </code> 
                                        </div> 
                                         <div class="form-check py-1">
                                            <input type="checkbox" class="form-check-input" v-model="rememberme">
                                            <label class="form-check-label" for="auth-remember-check">Recordar sesión</label>
                                        </div>
                                        
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary w-100 waves-effect waves-light">Ingresar</button>
                                        </div>                                        
                                    </form>
                                </div>
            
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center p-4">
                            <p>© {{ getHumanDate() }} INEI - DNCE INFORMÁTICA</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import moment from 'moment'; 
    import Swal from 'sweetalert2'
    import { reactive, computed } from 'vue'
    import { useVuelidate } from '@vuelidate/core'
    import { required, email, minLength, helpers  } from '@vuelidate/validators';
 

    export default { 
        setup () {
            const state = reactive({
                email: '',
                password:''
            })
            const mustBeLearnVue = (value) => value.includes('learnvue')
            const rules = computed(() => {
                return {
                    email: {
                        required: helpers.withMessage('Usuario es requerido.', required),
                        //email: helpers.withMessage('Ingrese un email válido.', email),
                    },
                    password:{
                        required: helpers.withMessage('Contraseña es requerido.', required), 
                        minLength: helpers.withMessage('Contraseña debe tener mínimo 03 dígitos.', minLength(3)), 
                    }
                }}
            )
            const v$ = useVuelidate(rules, state)
            return { state, v$ }
        },
        data: function(){
            return{
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                baseURL:APP_URL,
                baseIMG:APP_IMG,
                email:'',
                password:'',
                rememberme:false    
            }
        },
        mounted(){
            moment.locale('es');
        },         
        methods:{  
            async validateLogin () {
                const result = await this.v$.$validate();
                if (this.v$.$error)  return;                
                axios.post('/login',{ 
                    email:    this.state.email,
                    password: this.state.password,
                    rememberme: this.rememberme
                }).then((response)=>{
                    if(!response.data){ 
                        errorIngreso();
                    }else{
                        window.location.href = this.baseURL+response.data;
                    }
                })
                
            },            
            
            getHumanDate : function (date) {
                // return moment(date).format('DD-MM-YYYY, h:mm a'); 
                return moment().format('YYYY');
            },
        }
       
    }
    function errorIngreso(){
        let timerInterval
        Swal.fire({
            title: '<strong>¡Credenciales Incorrectas!</strong>',
            icon: 'error',
            html: 'Verifique sus datos ingresados.',
            timer: 5800, 
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                const content = Swal.getContent()
                if (content) {
                    const b = content.querySelector('b')
                    if (b) {
                    b.textContent = Swal.getTimerLeft()
                    }
                }
                }, 100)
            },
            onClose: () => {
                clearInterval(timerInterval)
            }
        }) 
    } 

</script>