<template>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <!-- <h6 class="card-title mb-0">Asignación de Conglomerado a Ruta</h6> -->
                    <h6 class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i> ASIGNACIÓN DE CONGLOMERADO A RUTA</h6>
                </div>
                <div class="card-body">
                    <!-- <div id="ckeditor-classic"></div> -->
                    <form @submit.prevent="validateAsignacion" autocomplete="off">
                        <div class="row">     
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">AÑO</label> 
                                    <select class="form-select" ref="anio" v-model.trim="state.anio" @change="funcionAnio($event)">
                                        <option value="" selected>--SELECCIONE--</option>
                                        <option v-for="data in ListaAnios" :value="data.id" :key="data.id">{{ data.descripcion }}</option>
                                    </select> 
                                    <code class="error-feedback" v-if="v$.anio.$error"> {{ v$.anio.$errors[0].$message }} </code>
                                </div>
                            </div>                                                       
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">SEDE OPERATIVA</label>
                                    <select class="form-select" ref="codsede" v-model.trim="state.codsede" @change="funcionCodSedes($event)">
                                        <option value="" selected>--SELECCIONE--</option>
                                        <option v-for="data in ListaCodSedes" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                    </select> 
                                    <code class="error-feedback" v-if="v$.codsede.$error"> {{ v$.codsede.$errors[0].$message }} </code>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">MES</label>
                                    <select class="form-select" ref="mes" v-model.trim="state.mes" @change="funcionMeses($event)">
                                        <option value="" selected>--SELECCIONE--</option>
                                        <option v-for="data in ListaMeses" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                    </select> 
                                    <code class="error-feedback" v-if="v$.mes.$error"> {{ v$.mes.$errors[0].$message }} </code>
                                </div>
                            </div>                            
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">PERIODO</label>
                                    <select class="form-select" ref="periodo" v-model.trim="state.periodo" @change="funcionPeriodos($event)">
                                        <option value="" selected>--SELECCIONE--</option>
                                        <option v-for="data in ListaPeriodos" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                    </select> 
                                    <code class="error-feedback" v-if="v$.periodo.$error"> {{ v$.periodo.$errors[0].$message }} </code>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">CONGLOMERADO</label>
                                    <select class="form-select" ref="conglomerado" v-model.trim="state.conglomerado">
                                        <option value="99" selected>TODOS</option>
                                        <option v-for="data in ListaConglomerados" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                    </select> 
                                    <code class="error-feedback" v-if="v$.conglomerado.$error"> {{ v$.conglomerado.$errors[0].$message }} </code>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">&nbsp;</label>
                                    <button type="submit" ref="buscar" class="btn btn-primary w-md form-control">
                                        <i class="bx bx-search font-size-16 align-middle me-2"></i>BUSCAR</button>
                                </div>
                            </div>
                        </div>                         
                    </form>                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header asignacionButton" v-if="LstAsigConglomeradoRuta.length > 0">
                    <button @click="openModal()" type="button" class="btn btn-success w-lg">
                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> ASIGNAR</button>
                </div>
                <div class="card-body">                    
                    <div class="col-xl-12 col-lg-12 col-sm-12"> 
                        <div class="table-responsive" >                     
                            <table id="tblAsignacion" class="table table-striped table-bordered table-hover text-center">
                                <thead>
                                    <tr class="table-info"> 
                                        <th>NRO.</th>
                                        <th>COD.<br> SEDE</th>
                                        <th>SEDE<br>OPERATIVA</th>
                                        <th>CCDD</th>
                                        <th>DEPARTAMENTO</th>
                                        <th>CCPP</th>
                                        <th>PROVINCIA</th>
                                        <th>CCDI</th>
                                        <th>DISTRITO</th>
                                        <th>UBIGEO</th>
                                        <th>CONGLOMERADO</th>
                                        <th>EQUIPO</th>
                                        <th>RUTA</th>
                                        <!-- <th>FECHA <br>ASIGNACIÓN</th> -->
                                        <th>ACCIÓN</th>
                                    </tr>                                    
                                </thead> 
                                <tbody>
                                    <tr v-for="item in LstAsigConglomeradoRuta" :key="item.id">
                                        <td>{{item.nro}}</td>
                                        <td>{{item.codsede}}</td>
                                        <td>{{item.sede}}</td>
                                        <td>{{item.ccdd}}</td>
                                        <td>{{item.departamento}}</td>
                                        <td>{{item.ccpp}}</td>
                                        <td>{{item.provincia}}</td>
                                        <td>{{item.ccdi}}</td>
                                        <td>{{item.distrito}}</td>
                                        <td>{{item.ubigeo}}</td>
                                        <td>{{item.conglomerado}}</td>
                                        <td>{{item.equipo}}</td>
                                        <td>{{item.ruta}}</td>
                                        <!-- <td>{{ getFormatDate(item.fecha_asigconglo) }}</td> -->
                                        <td> 
                                            <div class="btn-group btn-group-sm" role="group" v-if="item.equipo">
                                                <button type="button" class="btn btn-outline-danger" @click="revertirAsignacion(item.id)">
                                                    <i class="bx bx-trash font-size-20 align-middle"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
    <div v-if="loading" class="overlay">
        <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="modal fade" id="modalAsignacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Asignación de Conglomerado a Ruta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">EQUIPO</label> 
                                <select class="form-select" ref="equipo" v-model.trim="state.equipo" @change="funcionEquipos($event)">
                                    <option value="" selected>--SELECCIONE--</option>
                                    <option v-for="data in ListaEquipos" :value="data.id" :key="data.id">{{ data.descripcion }}</option>
                                </select> 
                            </div>
                        </div>                                                       
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">RUTA</label>
                                <select class="form-select" ref="ruta" v-model.trim="state.ruta">
                                    <option value="" selected>--SELECCIONE--</option>
                                    <option v-for="data in ListaRutas" :value="data.id" :key="data.id">{{ data.descripcion }}</option>                                        
                                </select> 
                            </div>
                        </div>                        
                    </div>
                    <!-- <p>Selecciona uno o más conglomerados.</p> -->
                    
                    <div class="table-responsive" >                     
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr class="table-info"> 
                                    <th>SELECCIÓN</th>                                       
                                    <th>CONGLOMERADO</th>
                                </tr>                                    
                            </thead> 
                            <tbody>
                                <tr v-for="item in LstAsigConglomeradoRutaFiltrado" :key="item.nro">
                                    <td>
                                        <input type="checkbox" class="form-check-input" 
                                        v-model="state.checkSeleccionados" 
                                        :value="item.conglomerado" 
                                        @change="listaCheckSeleccionados(item.conglomerado)">
                                    </td>                                        
                                    <td>{{item.conglomerado}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" @click="closeModal">Cerrar</button>
                    <button type="button" class="btn btn-primary" @click="enviarCheckSeleccionados()">Guadar</button>
                </div>
            </div>
        </div>
    </div>


</template>


<script>
    import Swal from 'sweetalert2';
    import moment from 'moment';
    import { reactive, computed } from 'vue'
    import { useVuelidate } from '@vuelidate/core'
    import { required, helpers } from '@vuelidate/validators';
 

    export default { 
        setup () {
            const state = reactive({
                anio: '',
                codsede:'',
                mes:'',
                periodo:'',
                conglomerado:99,
                equipo:'',
                ruta:'',
                checkSeleccionados: []
            })
            const rules = computed(() => {
                return {
                    anio: { required: helpers.withMessage('Año es requerido.', required) },
                    codsede: { required: helpers.withMessage('Cód.Sede es requerido.', required) },
                    mes: { required: helpers.withMessage('Mes es requerido.', required) },
                    conglomerado: { required: helpers.withMessage('Conglomerado es requerido.', required) },
                    periodo: { required: helpers.withMessage('Periodo es requerido.', required) },
                }}
            )
            const v$ = useVuelidate(rules, state)
            return { state, v$ }
        },
        data: function(){
            return{
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                baseURL:APP_URL,
                baseIMG:APP_IMG,
                anio:'',
                codsede:'',
                mes:'',
                conglomerado:99,
                periodo:'',
                ListaAnios:[],
                ListaCodSedes:[],
                ListaMeses:[],
                ListaConglomerados:[],
                ListaPeriodos:[],
                LstAsigConglomeradoRuta:[],
                LstAsigConglomeradoRutaFiltrado:[],
                equipo:'',
                ruta:'',
                loading: false,
                ListaEquipos:[],
                ListaRutas:[],
                checkSeleccionados:[]
            }
        },
        mounted(){  
            moment.locale('es');          
            this.dataTable();
            this.cargarFiltros();
        },         
        methods:{  
            cargarFiltros(){ 
                this.loading = true;
                axios.get('/getAnios').then((response) =>{
                    this.ListaAnios  = response.data;
                    this.loading = false;
                })
            },
            dataTable(){
                if ($.fn.DataTable.isDataTable('#tblAsignacion')) {
                    $('#tblAsignacion').DataTable().destroy();
                }
                this.$nextTick(() =>{
                    $('#tblAsignacion').DataTable({
                        "lengthMenu": [[10, 25, 50, -1], [ 10, 25, 50, "Todos"]],
                        "ordering": false,
                        //"autoWidth": true,
                        language: {
                            url: this.baseURL+'assets/SpanishDataTable.json',
                            paginate: {
                                next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                                previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>' 
                            }
                        },
                    });
                });
            }, 
            DestroyTable: function() {
                $('#tblAsignacion').DataTable().destroy();
            },
            async validateAsignacion () {
                const result = await this.v$.$validate();
                if (this.v$.$error)  return;  
                this.loading = true;              
                await axios.post('/getAsigConglomeradoRuta',{
                    tipo: 'REPORTEASIG_CONGLORUTA', 
                    anio: this.state.anio, 
                    codsede: this.state.codsede,
                    mes: this.state.mes,
                    periodo: this.state.periodo,
                    conglomerado: this.state.conglomerado
                }).then((response) =>{
                    this.LstAsigConglomeradoRuta = response.data;
                    this.dataTable();
                    this.loading = false;
                }).catch((error) => {
                    console.error('Error al cargar los datos:', error);
                });               
            },
            
            listaCheckSeleccionados(conglomerado) {
                if (this.checkSeleccionados.includes(conglomerado)) {
                    const index = this.checkSeleccionados.indexOf(conglomerado);
                    this.checkSeleccionados.splice(index, 1);
                } else {
                    this.checkSeleccionados.push(conglomerado);
                }
            },

            async enviarCheckSeleccionados(){
                this.loading = true;
                await axios.post('/SaveAsigConglomeradoRuta',{
                    anio: this.state.anio, 
                    mes: this.state.mes, 
                    codsede: this.state.codsede, 
                    periodo: this.state.periodo, 
                    equipo: this.state.equipo, 
                    ruta: this.state.ruta,
                    conglo: this.state.conglomerado,
                    listChecks: this.checkSeleccionados
                }).then((response) =>{ 
                    this.LstAsigConglomeradoRuta = response.data.lista;
                    this.dataTable();                    
                    mensajeAlertOK(response.data.message);
                    this.closeModal();
                    this.loading = false;
                }).catch((error) => {
                    console.error('Error al guardar los datos:', error);
                });                
            },

            funcionAnio(e){         
                this.loading = true;    
                this.ListaCodSedes=[];
                this.ListaMeses=[]; 
                this.ListaPeriodos=[]; 
                this.ListaConglomerados=[]; 
                this.state.codsede = ''; 
                this.state.mes = '';
                this.state.periodo = '';
                this.state.conglomerado = 99;
                axios.post('/getSedeOpe', { tipo: 'CODSEDE', anio: this.state.anio }).then((response)=>{
                    this.ListaCodSedes = response.data; 
                    this.$refs.codsede.focus();
                    this.loading = false;
                })
            }, 
            funcionCodSedes(e){    
                this.loading = true;         
                this.ListaMeses=[];
                this.ListaPeriodos=[]; 
                this.ListaConglomerados=[]; 
                this.state.mes = '';
                this.state.periodo = '';
                this.state.conglomerado = 99;
                axios.post('/getMeses', { tipo: 'MES', anio: this.state.anio }).then((response)=>{
                    this.ListaMeses = response.data; 
                    this.$refs.mes.focus();
                    this.loading = false;
                })
            }, 
            funcionMeses(e){      
                this.loading = true;    
                this.ListaPeriodos=[]; 
                this.ListaConglomerados=[]; 
                this.state.periodo = '';
                this.state.conglomerado = 99;
                axios.post('/getPeriodo', { 
                    tipo: 'PERIODO', 
                    anio: this.state.anio, 
                    codsede: this.state.codsede,
                    mes: this.state.mes 
                }).then((response)=>{
                    this.ListaPeriodos = response.data; 
                    this.$refs.periodo.focus();
                    this.loading = false;
                })   
                
            }, 
            funcionPeriodos(e){      
                this.loading = true;       
                this.ListaConglomerados=[]; 
                this.state.conglomerado = 99;
                axios.post('/getConglomerado', { 
                    tipo: 'CONGLO', 
                    anio: this.state.anio, 
                    codsede: this.state.codsede,
                    mes: this.state.mes,
                    periodo: this.state.periodo 
                }).then((response)=>{
                    this.ListaConglomerados = response.data; 
                    this.$refs.buscar.focus();
                    this.loading = false;
                })
            },
            funcionEquipos(e){      
                this.ListaRutas=[]; 
                this.state.ruta = '';
                axios.post('/getRutas', { 
                    tipo: 'RUTA', 
                    anio: this.state.anio, 
                    codsede: this.state.equipo,
                    mes: this.state.mes,
                    periodo: this.state.periodo 
                }).then((response)=>{
                    this.ListaRutas = response.data;
                })
            },


            openModal(){
                this.loading = true;
                //NO mostrar los conglomerados ya Asignados.(0.Sin cambios | 1.Asignado | 2.Revertido)
                this.LstAsigConglomeradoRutaFiltrado = this.LstAsigConglomeradoRuta;
                const existeAsignados = this.LstAsigConglomeradoRuta.some(item => item.estado === '1');
                if(existeAsignados){
                    this.LstAsigConglomeradoRutaFiltrado = this.LstAsigConglomeradoRuta.filter(item => item.estado === '0');
                }
                axios.post('/getEquipos', { 
                    tipo: 'EQUIPO', 
                    anio: this.state.anio, 
                    codsede: this.state.codsede,
                    mes: this.state.mes,
                    periodo: this.state.periodo 
                }).then((response)=>{
                    this.ListaEquipos = response.data; 
                    this.$refs.equipo.focus();
                    this.loading = false;
                })
                $('#modalAsignacion').modal('show');     
            },
            closeModal(){
                this.state.checkSeleccionados = [];
                this.ListaEquipos = [];
                this.ListaRutas = [];
                this.state.equipo = '';
                this.state.ruta = '';
                $('#modalAsignacion').modal('hide');                
            },
            revertirAsignacion(id){
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡NO PODRÁS REVERTIR ESTE PROCESO!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1f58c7',
                    confirmButtonText: 'Si, continuar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        this.loading = true;
                        axios.post('/deleteAsigCongloRuta',{
                            id:id,
                            anio: this.state.anio, 
                            mes: this.state.mes, 
                            codsede: this.state.codsede, 
                            periodo: this.state.periodo,
                            conglomerado: this.state.conglomerado,
                        }).then((response)=>{ 
                            this.LstAsigConglomeradoRuta = response.data.lista;
                            this.dataTable();                    
                            mensajeAlertOK(response.data.message);
                            this.closeModal();
                            this.loading = false;                        
                        })
                    }
                });
            },
            getFormatDate : function (date) {
                return date != null ? moment(date, 'YYYY-MM-DD HH:mm:ss.SSS').format('DD/MM/YYYY HH:mm') : '';
            },
        }       
    }

    function mensajeAlertOK(mensaje){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: mensaje
        })    
    }

</script>